<header>
  <h1>Hello push!</h1>
  <p>A push notifications sample made with Ruby on Rails.</p>
</header>
<main>
  <%= form_tag '/notifications/send' do %>
    <%= hidden_field_tag :endpoint, nil %>
    <%= submit_tag 'Notify me' %>
  <% end %>
</main>
<footer>
  <p>emilianolch</p>
</footer>
